body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", "游ゴシック  Medium", meiryo,
    sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.game-board .board {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

.game-board .board .body {
  border: 2px outset #edebf1;
}

.game-board .board .body-row {
  width: 673px;
}

.game-board .board .body-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board .board .body-row .square {
  background: #54af45;
  border: 1px solid #c0baba;
  float: left;
  font-size: 26px;
  height: 85px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 1px 0 0 2px;
  width: 85px;
}

.square-o .hint-square {
  display: inline-block;
  margin-right: 1px;
  margin-top: 7px;
  border-radius: 46px;
  border: 1px solid #c0baba;
  width: 60px;
  height: 60px;
}
.square-o .hint-square:hover {
  border-radius: 46px;
  border: 4px solid #c0baba;
}
.game-board .board .body-row .square-x {
  background: #54af45;
}

.game-board .board .body-row .square:focus {
  outline: none;
}

.game-board .board .body-row .square .black {
  background-color: #000;
  border-radius: 46px;
  display: inline-block;
  height: 60px;
  margin-right: 1px;
  margin-top: 7px;
  width: 60px;
}

.game-board .board .body-row .square .white {
  background-color: #fff;
  border-radius: 46px;
  display: inline-block;
  height: 60px;
  margin-right: 1px;
  margin-top: 7px;
  width: 60px;
}

.game-board .board .body-row .square .none {
  display: none;
}

.game-board .board .row-numbers {
  left: -30px;
  position: absolute;
  top: 18px;
}

.game-board .board .row-numbers .row-number {
  display: block;
  height: 34px;
  margin-top: -1px;
  text-align: center;
  width: 34px;
}

.game-board .board .column-numbers {
  left: 11px;
  position: absolute;
  top: -24px;
}

.game-board .board .column-numbers .column-number {
  float: left;
  margin-right: -1px;
  text-align: center;
  width: 34px;
}

.game-info {
  margin-left: 21px;
  width: 674px;
  background-color: #cdcfcc;
}

.game-info span {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
}

.game-info .count {
  padding: 7px 0;
  display: flex;
  font-size: 33px;
  justify-content: space-around;
}

.game-info .count span.black {
  background-color: #000;
  border: solid 1px #000;
  border-radius: 28px;
  display: inline-flex;
  height: 30px;
  margin-right: 2px;
  width: 30px;
}

.game-info .count span.white {
  background-color: #fff;
  border: solid 1px #c0baba;
  border-radius: 28px;
  display: inline-flex;
  height: 30px;
  margin-left: 2px;
  width: 30px;
}
.game-info .info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
